
 <flare-messages></flare-messages>
<div class="well">
    <h5 ng-show="{{ user.currentUser.arrivee != undefined}}">
    	{{'start_work' | translate }}  : {{user.currentUser.arrivee}}

    </h5>
    <h5 ng-show="{{ user.currentUser.depart != ''}}">
    	{{'end_da' | translate }}: {{user.currentUser.depart}}

    </h5>
    
    
    <button  ng-init="id = user.currentUser.id" ng-click="end(id)" class="ng-hide btn-sm btn-warning" ng-hide="{{ok}}" ">
    		{{'end_day' | translate }}
    	</button>




    	

        


</div>                

  
  
  
  
  
  
  



