<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="crudApp">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ATI Login</title>
	<link href="css/login_reset.css" type="text/css" rel="stylesheet" />
	<!--<link href="css/login_styles.css" type="text/css" rel="stylesheet" />-->
	
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<link rel="stylesheet" media="all" href="assets/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/angular-tj-toast.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/bootstrap-datepicker.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/animate.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/bootstrap-switch.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/dataTables.bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/checkbox3.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/select2.min.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/dropdownmy.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/classic.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/classic.date.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/classic.time.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/demo.css" type="text/css" />
   

  
	<link rel="stylesheet" href="assets/css/bootstrap-modal-bs3patch.css" type="text/css" />

	<link rel="stylesheet" href="assets/css/angular-flash.min.css" type="text/css" />
	

	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/login.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/font-awesome.css" type="text/css" />
	<link href='css/loading-bar.css' rel='stylesheet' />

	
	</head>

	<body>

		<div class="container">

			<div data-ng-view="">
				<!-- content -->
			</div>

		</div>
		
	
	<!--Script-->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script src="js/angular-local-storage.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<!--<script type="text/javascript" src="js/angular-sanitize.js"></script>-->
	<script src="js/loading-bar.js"></script>
	
	
	<script type="text/javascript" src="assets/js/form/ng-flow-standalone.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-strap.min.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-strap.tpl.min.js"></script>


    
    <script type="text/javascript" src="assets/js/form/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="assets/js/form/tv4.js"></script>
	<script type="text/javascript" src="assets/js/form/ObjectPath.js"></script>
	<script type="text/javascript" src="assets/js/form/schema-form.min.js"></script>
	<script type="text/javascript" src="assets/js/form/bootstrap-decorator.min.js"></script>
	<script type="text/javascript" src="assets/js/form/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="assets/js/form/picker.js"></script>
	<script type="text/javascript" src="assets/js/form/picker.date.js"></script>
	<script type="text/javascript" src="assets/js/form/picker.time.js"></script>
	<script type="text/javascript" src="assets/js/form/legacy.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-messages.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-translate.js"></script>
	<script type="text/javascript" src="assets/js/form/ng-file-upload-all.min.js"></script>
	<script type="text/javascript" src="assets/js/form/schema-form-file-upload.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-schema-form-base64-file-upload.js"></script>
	<script type="text/javascript" src="assets/js/form/angular-upload.min.js"></script>

	<script type="text/javascript" src="assets/js/flash/angular-flare.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>
   

    <script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/js/alert.js"></script>
    <script type="text/javascript" src="assets/js/apptheme.js"></script>
    <script type="text/javascript" src="assets/js/button.js"></script>
    <script type="text/javascript" src="assets/js/card.js"></script>
   
    <script type="text/javascript" src="assets/js/list.js"></script>
    <script type="text/javascript" src="assets/js/modal.js"></script>
    <script type="text/javascript" src="assets/js/theming.js"></script>
    <script type="text/javascript" src="assets/js/select2.full.min.js"></script>

    <script type="text/javascript" src="assets/js/demo.js"></script>
    
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/theme-github.js"></script>
    <script type="text/javascript" src="assets/js/router.js"></script>
    <script type="text/javascript" src="assets/js/login.js"></script>
	
	
	
	<script type="text/javascript" src="js/app1.js"></script>
	
	</body>
</html>
