

 <flare-messages></flare-messages>
 
 <div class=" panel panel-primary ">
      <div class="panel-heading" style="background-color:#24CA5A">
        <h3>{{'Office_list' | translate }}</h3><a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-primary" href="#/antenne/add">{{'Add' | translate }}</a>
        <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
        
      </div>
      <div class="panel-body">

        <table class="table table-bordered table-hover table-condensed  table-responsive">
          <thead>
            <tr>
              <th>{{'Title' | translate }}</th>
              <th>{{'Country' | translate }}</th>
              <th>{{'Town' | translate }}</th>
              <th>{{'Contact' | translate }}</th>
              <th>{{'Email' | translate }}</th>
              
              <th>Opération</th>
              
            </tr>
          </thead>
          <tbody>
            <tr  dir-paginate="antenne in antennes | itemsPerPage: pageSize" current-page="currentPage">
            
              <td>
                {{antenne.libelle}} 
              </td>
              <td>
                {{antenne.pays}} 
              </td>
              <td>
                {{antenne.ville}} 
              </td>
              <td>
                {{antenne.contact}} 
              </td>
              <td>
                {{antenne.email}} 
              </td>
              <td>
                <a class="btn-sm btn-warning"  href="#/antenne/show/{{antenne.id}}"><i class="glyphicon glyphicon-eye-open"></i></a>
                <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" href="#/antenne/edit/{{antenne.id}}" class=" btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" href="#/antenne/delete/{{antenne.id}}" class=" btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>

              </td>
                
              
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>

        <!-- Button trigger modal -->
        

                    
      </div>
</div>



 