<flare-messages></flare-messages>
 <div class=" panel panel-primary" >
      <div class="panel-heading" style="background-color:#24CA5A">
        

          <h3>{{'Article_list' | translate }}
          <div style="text-align:center" class="loading-spiner-holder float-right" data-loading >
            <div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div>
        </div>


          </h3><a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-primary" href="#/article/add">{{'Add' | translate }}</a>
        
      
        
      </div>
      <div class="panel-body">
      <button   ng-click="print()"  class="btn-sm btn-warning" >
        {{'Get_General_State' | translate }}
      </button>
        <table class="table table-bordered table-hover table-condensed table-responsive">
          <thead>
            <tr>
              <th>{{'Name' | translate }}</th>
              <th>{{'Price' | translate }}</th>
              <th>{{'Alert' | translate }}</th>
              
              <th>{{'Action' | translate }}</th>
              
            </tr>
          </thead>
          <tbody>
            <tr  dir-paginate="article in articles | itemsPerPage: pageSize" current-page="currentPage">
            <!--<tr ng-repeat="article in articles">-->
              <td>
                {{article.nom}} 
              </td>
              <td> 
                {{article.prix}} 
              </td>
              <td> 
                {{article.stocka}} 
              </td>

              <td> 

                  <button class = "btn-sm btn-warning btn-lg" data-toggle = "modal" data-target = "#{{article.id}}">
                   <i class="glyphicon glyphicon-eye-open"></i>
                </button>
                <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" href="#/article/edit/{{article.id}}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" id="closemodal" href="#/article/delete/{{article.id}}" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>


                <!-- Modal -->
                <div class = "mod modal fade" id = "{{article.id}}" tabindex = "-1" role = "dialog" 
                   >
                  
                      <div class = "modal-content">

                        <div class="modal-header" style="background-color:#24CA5A">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="panel-title">{{'Article_information' | translate }}</h4>
                        </div>
                        <div class="modal-body" style="background-color:#FCD3AB" >
                              <div class="row">

                                <div class="col-md-8 col-sm-12 col-lg-8">

                                    <div class="thumbnail no-margin-bottom">
                                      
                                        
                                        <div class="caption">
                                            <h3 id="thumbnail-label" >{{'Article_information' | translate }}<a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                                            <table class="table table-user-information">
                                              <tbody>
                                                <tr>
                                                   
                                                  <td>{{'Name' | translate }}:</td>
                                                  <td>{{article.nom}}</td>
                                                </tr>
                                                <tr>
                                                  <td>{{'Feature' | translate }}:</td>
                                                  <td>{{article.caracteristique}}</td>
                                                </tr>
                                                <tr>
                                                  <td>{{'Usage' | translate }}:</td>
                                                  <td>{{article.utilisation}}</td>
                                                </tr>
                                                <tr>
                                                  <td>{{'Price' | translate }}:</td>
                                                  <td>{{article.prix}}</td>
                                                </tr>
                                                <tr>
                                                  <td>{{'Alert' | translate }}</td>
                                                  <td>{{article.stocka}}</td>
                                                </tr>
                                             
                                                
                                               </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-lg-4 " align="center">
                                  <a ng-show="{{ article.image !== undefined }}" class="btn-sm btn-warning zoom" href ="./apprest/web/uploads/{{article.image.nom}}" onmouseover="" style="cursor:zoom-in" data-lity>
                                          <img  src="./apprest/web/uploads/{{article.image.nom}}" width="300" height="400" class=" img-responsive" />
                                  </a>
                                   
                                  <a  ng-show="{{ article.file !== undefined }}" href ="./apprest/web/uploads/{{article.file.nom}}"  data-lity>
                                          <i class="glyphicon glyphicon-file" width="100px">{{'File' | translate }}</i>
                                  </a>
                                      
                                      
                                     
                                      </div>
                                      

                                
                                </div>
                              </div>
                             
            
                          </div>

      
                         
                         
                      </div><!-- /.modal-content -->
                   
              </td>
                
              
            </tr>
          </tbody>

        </table>
        <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>

        <!-- Button trigger modal -->
        

                    
  </div>
  </div>