
 <flare-messages></flare-messages>

<div class=" panel panel-primary">
      <div class="panel-heading" style="background-color:#24CA5A">
      	<h3> {{'Edit_article' | translate }}</h3><a class="btn btn-primary" href="#/article/list">{{'back' | translate }}</a>
        <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
      </div>
       <div class="panel-body">

    <form name="myForm" enctype="multipart/form-data" 
          sf-schema="schema"
          sf-form="form"
          sf-model="model"
          ng-submit="onSubmit(myForm)">
          <!--<input type="file" name="files" accept="image/*">-->
          
            
          </form>
    </div>

</div> 

