
<flare-messages></flare-messages>
 <div class=" panel panel-primary">
      <div class="panel-heading" style="background-color: #D6F496">
        <h3>{{'Mail_list' | translate }}</h3>
        <a class="btn btn-primary" href="#/mail/add/">{{'Add' | translate }}</a>
        <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
        
      </div>
      <div class="panel-body table-responsive">
      <button   ng-click="print()"  class="btn-sm btn-warning" >
        {{'get_file' | translate }}
      </button>
        <table class="table table-bordered table-hover table-condensed table-responsive ">
          <thead>
            <tr>
              <th>{{'Title' | translate }}</th>
              <th>{{'Sender' | translate }}</th>
              <th>{{'Receiver' | translate }}</th>
              <th>{{'Type' | translate }}</th>
              <th>{{'Date' | translate }}</th>
              
              <th>
              {{'Details' | translate }}
              </th>
              
            </tr>
          </thead>
          <tbody>
            <tr  dir-paginate="mail in mails | itemsPerPage: pageSize" current-page="currentPage">
            
              <td>
                {{mail.libelle}} 
              </td>
              <td>
                {{mail.emetteur}} 
              </td>
              <td>
              {{ mail.recepteur }}
              </td>
              <td>
              {{mail.type}}
              </td>
              <td>
                {{mail.date | date:'longDate'}} 
              </td>
              
              <td>
                 <a ng-show="{{ mail.image != undefined}}" class="btn-sm btn-warning" href ="./apprest/web/uploads/{{mail.image.nom}}" data-lity>
                   {{'Image' | translate }}        
                </a>
                <a ng-show="{{ mail.file != undefined}}" class="btn-sm btn-success" href ="./apprest/web/uploads/{{mail.file.nom}}" data-lity>
                   {{'File' | translate }}        
                </a>
                
              </td>
              
             
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>
                    
      </div>
</div>
</div>
<script type="text/javascript">

$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>



 