<td > 

                 <button class = "btn-sm btn-warning btn-lg" data-toggle = "modal" data-target = "#{{user.id}}">
                   show details
                </button>

                <!-- Modal -->
                <div class = "modal fade" id = "{{user.id}}" tabindex = "-1" role = "dialog" 
                   aria-labelledby = "myModalLabel" aria-hidden = "true">
                   
                   <div class = "modal-dialog">
                      <div class = "modal-content">
                         
                         <div class="panel panel-info">
                            <div class="panel-heading">
                              <h3 class="panel-title">Sheena Kristin A.Eschor</h3>
                            </div>
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-3 col-lg-3 "  align="center"> 

                                <img ng-show="{{ user.image != undefined}}" src="../../uploads/{{user.image.nom}}"  class="img-circle img-responsive" />
                                
                                </div>
                                <div class=" col-md-9 col-lg-9 "> 
                                  <table class="table table-user-information">
                                    <tbody>
                                      <tr>
                                        <td>Name:</td>
                                        <td>{{user.nom}}</td>
                                      </tr>
                                      <tr>
                                        <td>Surname:</td>
                                        <td>{{user.prenom}}</td>
                                      </tr>
                                      <tr>
                                        <td>Adress:</td>
                                        <td>{{user.adresse}}</td>
                                      </tr>
                                   
                                         <tr>
                                             <tr>
                                        <td>Email:</td>
                                        <td>{{user.email}}</td>
                                      </tr>
                                        <tr>
                                        <td>Phone Number:</td>
                                        <td>{{user.telephone}}</td>
                                      </tr>
                                      <tr>
                                        <td>Post:</td>
                                        <td>{{user.poste.libelle}}</td>
                                      </tr>
                                      <tr>
                                        <td>Gender:</td>
                                        <td> {{ user.sexe }}</td>
                                      </tr>
                                        
                                     
                                     </tbody>
                                    </table>
                  
                                      
                                  </div>
                                </div>
                              </div>
                             <div class="panel-footer">
                                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                                    <span class="pull-right">
                                        <a href="#/apprest/web/app_dev.php/rest/edit/{{ user.id }}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a data-original-title="Remove this user"  data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        
                                    </span>
                                </div>
            
                          </div>

      
                         
                         
                      </div><!-- /.modal-content -->
                   </div><!-- /.modal-dialog -->
                  
                </div><!-- /.modal -->


              </td>