<flare-messages></flare-messages>
 <div class=" panel panel-primary">
      <div class="panel-heading" style="background-color:#9E8CE1">
        <h3>{{'Project_list' | translate }}</h3>
        <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-primary" href="#/project/add">{{'Add' | translate }}</a>
        <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
        
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover table-condensed table-responsive">
          <thead>
            <tr>
              <th>{{'Title' | translate }}</th>
              <th>{{'Manager' | translate }}</th>
              <th>{{'Owner' | translate }}</th>
              <th>{{'Date_debut' | translate }}</th>
              <th>{{'Date_fin' | translate }}</th>
              <th>
              {{'status' | translate }}
              </th>
              
              
              <th>{{'Action' | translate }}</th>
              
            </tr>
          </thead>
          <tbody>
            <tr  dir-paginate="project in projects | itemsPerPage: pageSize" current-page="currentPage">
           
              <td>
                {{project.libelle}} 
              </td>
              <td>
                {{project.utilisateur.nom}} 
              </td>
              <td>
              {{ project.moa  }}
              </td>
              <td>
                {{project.datedebut | date:'longDate'}} 
              </td>
              <td>
                {{project.datefin | date:'longDate'}} 
              </td>
              <td>
                <span ng-switch="project.statut">
                  <span class="animate-if" ng-switch-when=false>{{'In_Progress' | translate }}</span>
                  
                  <span class="animate-if" ng-switch-default>{{'end' | translate }}</span>
                </span>
              </td>
              <td>
                <a class="btn-sm btn-warning" href="#/project/show/{{ project.id }}">{{'show' | translate }}</a>
              </td>
              
             
            </tr>
          </tbody>
        </table>
         <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>

        <!-- Button trigger modal -->
        

                    
      </div>
</div>


 