<flare-messages></flare-messages>
<div class="panel -panel-primary">
  <div class="panel-heading" style="background-color:#9E8CE1">
    <h3 class="panel-title">{{'Project_information' | translate }}</h3>
    
    <span ng-if=" test == false">
      <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-sm btn-warning"  href="#/project/evolution/{{project.id}}">{{'Add_evolution' | translate }}</a>
      <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-sm btn-success" href="#/project/expenditure/{{project.id}}">{{'Add_expenditure' | translate }}</a>
      <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-sm btn-info" href="#/project/blocking/{{project.id}}">{{'Add_freeze' | translate }}</a>
      <a ng-show="{{u.currentUser.role == 'ROLE_MANAGER'}}" class="btn btn-sm btn-danger" href="#/project/end/{{project.id}}">{{'end' | translate }}</a>
    </span>
   </div>

   <div class="panel-body">
   <div class="thumbnail no-margin-bottom">
          
            
            <div class="caption">
                <h3 id="thumbnail-label"><a class="anchorjs-link" href="#thumbnail-label"><span class="anchorjs-icon"></span></a></h3>
                <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
                <table class="table table-user-information table-responsive">
                  <tbody>
                    <tr>
                       
                      <td>{{'Name' | translate }}:</td>
                      <td>{{project.libelle}}</td>
                      <span ng-show="{{ project.image.nom !== undefined}}">
                      <td rowspan="6" >
                        <a class="btn-sm btn-warning zoom" href ="./apprest/web/uploads/{{project.image.nom}}" onmouseover="" style="cursor:zoom-in" data-lity>
                                         <img  src="./apprest/web/uploads/{{project.image.nom}}" width="250" height="400" class=" img-responsive" />
                         </a>
                         <a class=" " href ="./apprest/web/uploads/{{project.file.nom}}"  data-lity>
                                          <i class="glyphicon glyphicon-file" width="150px">{{'File' | translate }}</i>
                        </a>
                        
                      </td>
                      </span>
                    </tr>
                    <tr>
                      <td>{{'Manager' | translate }}:</td>
                      <td>{{project.utilisateur.nom}}</td>
                    </tr>
                    <tr>
                      <td>{{'Owner' | translate }}:</td>
                      <td>{{project.moa}}</td>
                    </tr>
                    <tr>
                      <td>{{'Date_debut' | translate }}:</td>
                      <td>{{ project.datedebut | date: 'longDate'}}</td>
                    </tr>
                    <tr>
                      <td>{{'Date_fin' | translate }}:</td>
                      <td>{{ project.datefin | date: 'longDate' }}</td>
                    </tr>
                    <tr>
                      <td>{{'Remaining_time' | translate }}:</td>
                      <td>
                      <span ng-if=" remain < 0">
                      {{'Exceed' | translate }}
                        
                      </span>
                      <span ng-if=" remain >= 0" >
                        {{remain}} {{'day' | translate }}(s)
                      </span>

                      
                    </tr>
                    <tr>
                    <td >{{'Display' | translate }}</td>
                    <td>
                      
                <button class = "btn-sm btn-warning btn-lg" data-toggle = "modal" data-target = "#evolution" >
                   {{'Evolutions' | translate }}
                </button>



                <!-- Modal -->
                <div class = "mod modal fade modal-lg" id = "evolution" tabindex = "-1" role = "dialog" 
                   aria-labelledby = "myModalLabel" aria-hidden = "true">
                   
                      <div class = "modal-content">
                         
                         <div class="modal-header" style="background-color:#9E8CE1">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h3 class="panel-title">{{'Project_evolution_file' | translate }}</h3>
                          </div>
                            <div class="modal-body" >
                              
                              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                  
                                  <div class="carousel-inner" role="listbox">

                                    
                                    <div class="item active deepskyblue">
                                        <a class="btn-sm btn-warning zoom" href ="./apprest/web/uploads/{{project.image.nom}}" onmouseover="" style="cursor:zoom-in" data-lity>
                                          <img  src="./apprest/web/uploads/{{project.image.nom}}" width="800" height="500" class=" img-responsive" />
                                        </a>
                                          
                                      
                                      <div class="row carousel-caption">
                                      
                                        <h4 data-animation="animated bounceInLeft" style="background-color:green">
                                            {{'Title' | translate }}: {{project.libelle}}
                                        </h4>
                                      </div>
                                    </div>

                                    <div class="item skyblue " ng-repeat="evolution in project.evolutions" align="center"> 
                                         
                                      <a class="btn-sm btn-warning" href ="./apprest/web/uploads/{{evolution.image.nom}}" onmouseover="" style="cursor:zoom-in" data-lity>
                                          <img  src="./apprest/web/uploads/{{evolution.image.nom}}" width="800" height="500" class=" img-responsive" />
                                        </a> 

                                         <div class="row carousel-caption">
                                            <h4 data-animation="animated bounceInLeft" style="background-color:green">
                                              {{evolution.libelle}} ({{evolution.pourcentage * 100}}%)
                                            </h4>
                                         </div>
                                    </div>
                                  </div><!-- /.carousel-inner -->

                                   <button style="opacity:0.3 ;" class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                      <span class="sr-only">{{'previous' | translate }}</span>
                                    </button>
                                    <button style="opacity:0.3 ;" class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
                                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
                                      <span class="sr-only">{{'next' | translate }}</span>
                                    </button>  
                              </div>
                            </div>
                             
                      </div><!-- /.modal-content -->
                </div><!-- /.modal -->

                <button class = "btn-sm btn-success btn-lg" data-toggle = "modal" data-target = "#expenditure">
                   {{'Expenditures' | translate }}
                </button>
                 <div class = "mod modal fade" id = "expenditure" tabindex = "-1" role = "dialog" 
                   aria-labelledby = "myModalLabel" aria-hidden = "true">
                      <div class="modal-header" style="background-color:#9E8CE1">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h3>{{'Project_expenditures' | translate }}</h3>
                              <button   ng-click="printstat()"  class="btn-sm btn-warning" >
                                {{'get_file' | translate }}
                              </button>
                          </div>
                      <div class = "modal-content">
                         

                                 <table class="table table-bordered table-hover table-condensed ">
                                  <thead>
                                    <tr>
                                      <th>{{'Title' | translate }}</th>
                                      <th>{{'Cost' | translate }}</th>
                                      <th>{{'File' | translate }}</th>
                                      
                                    </tr>
                                  </thead>
                                  <tbody >
                                    <tr  dir-paginate="expenditure  in project.depenses | itemsPerPage: 10" current-page="{{ pagination.current }}">
                                    
                                      <td>
                                        {{expenditure.libelle}} 
                                      </td>
                                      <td>
                                        {{expenditure.montant}} FCAF
                                      </td>
                                      
                                      <td>
                                        <a class="btn-sm btn-warning" href = "./apprest/web/uploads/{{expenditure.image.nom}}" data-lity>
                                          {{'File' | translate }}
                                        </a>
                                     

                                      </td>

                                     
                                    </tr>
                                  </tbody>
                                </table> 
                                <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>  
                         
                      </div><!-- /.modal-content -->
                  </div>



                <button class = "btn-sm btn-info btn-lg" data-toggle = "modal" data-target = "#freeze">
                  {{'Freezes' | translate }}
                </button>

                <!-- Modal -->
                    <div class = "mod modal fade" id ="freeze" >
                      <div class="modal-header" style="background-color:#9E8CE1">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h3>{{'Project_difficulties' | translate }}</h3>
                      </div>
                      <div class = "modal-content">
                         
                         <table class="table table-user-information">
                          <tbody>
                          <thead>
                            <th>{{'Title' | translate }}</th>
                            <th>{{'File' | translate }}</th>
                            <th>{{'Description' | translate }}</th>
                          </thead>
                          <tbody>
                            
                            <tr  dir-paginate="blocage in project.blocages | itemsPerPage: 10" current-page="{{ pagination.current }}">
                               
                              <td>{{blocage.libelle}}</td>
                              <td>
                                <a class="btn-sm btn-warning" href ="./apprest/web/uploads/{{blocage.image.nom}}"  data-lity>
                                    {{'file' | translate }}
                                </a>
                              </td>

                              <td>
                                <a  type="button" data-toggle="collapse" data-target="#{{blocage.id *41}}" aria-expanded="false" aria-controls="collapseExample">{{blocage.description | limitTo : 6 }}... 
                                </a>
                                <div class="collapse" id="{{blocage.id *41}}">
                              <div >
                                
                               
                                <p class="panel" >{{blocage.description}}</p>
                              </div>

                            </div>
                              </td>
                              
                              

                            </tr>
                            
                            </tbody>
                           
                          </table>
                          <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>  
                        </div>
                        </div>
          

                  
                    



<script type="text/javascript">
  

$(function () 
{

$('#cycle').click(function() 
{
  $('.carousel').carousel('cycle');
});

$('#pause').click(function() 
{
  $('.carousel').carousel('pause');
});
$('#play').click(function() { $('.carousel').carousel('cycle');
});
$('#next').click(function() 
  { $('.carousel').carousel('next');
});

$('#last').click(function() { $('.carousel').carousel(2); });

$('#previous').click(function() {
$('.carousel').carousel('prev'); });

});

</script>


 