<flare-messages></flare-messages>
<div class=" panel panel-primary">
      <div class="panel-heading" style="background-color:#9E8CE1">
      	<h3> {{'End_project' | translate }}</h3>
        <div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
      </div>
       <div class="panel-body">

    <form name="myForm" enctype="multipart/form-data" 
          sf-schema="schema"
          sf-form="form"
          sf-model="model"
          ng-submit="onSubmit(myForm)">
          <!--<input type="file" name="files" accept="image/*">-->
          <a style="float:right" class="btn btn-md btn-info" href="#/apprest/web/app_dev.php/rest/project/show/{{project.id}}">{{'No' | translate }}</a>
            
          </form>
          
    </div>
</div>

