<flare-messages></flare-messages>
 <div class=" panel panel-primary" >
      <div class="panel-heading"  style="background-color:#A2EFF4">
        
          <h3>{{'General_stat' | translate }}</h3>
          <div style="text-align:center" class="loading-spiner-holder float-right" data-loading >
            <div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div>
        </div>
       
      </div>
      <div class="panel-body">
      <ul  class="list-group">
      <li  dir-paginate="ant in antennes | itemsPerPage: pageSize" current-page="currentPage" >
       <a style="color: blue" class="btn title " href="#/stat/antenne/{{ant.id}}"><kbd>{{ ant.libelle }}></kbd></a>
       </li>

      </ul>
       <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>
        
        

                    
    </div>
  </div>