<flare-messages></flare-messages>
 <div class=" panel panel-primary" >
      <div class="panel-heading" >
        
          <h3>{{'Bills' | translate }}
          <div style="text-align:center" class="loading-spiner-holder float-right" data-loading >
            <div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div>
        </div>


          </h3><a class="btn btn-primary" href="#/user/profile/{{user.currentUser.id}}">{{'back' | translate }}</a>
        
      
        
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover table-condensed table-responsive">
          <thead>
            <tr>
              <th>{{'Title' | translate }}</th>
              <th>{{'Date' | translate }}</th>
              
              <th>{{'Details' | translate }}</th>
              
            </tr>
          </thead>
          <tbody>
            <tr  dir-paginate="bill in bills | itemsPerPage: pageSize" current-page="currentPage">
            
              <td>
                {{bill.message}} 
              </td>
              <td> 
                {{bill.date | date:'longDate'}} 
              </td>
              <td>
                 <a class="btn-sm btn-warning zoom" href ="./apprest/web/uploads/{{bill.image.nom}}" data-lity>
                    {{'Image' | translate }}
                  </a>
                   
                  <a class="btn-sm btn-success " href ="./apprest/web/uploads/{{bill.file.nom}}"  data-lity>
                    <i class="glyphicon glyphicon-file" width="100px">{{'File' | translate }}</i>
                  </a>
              </td> 

                
              
            </tr>
          </tbody>
        </table>
         <dir-pagination-controls boundary-links="true"  ></dir-pagination-controls>
        <!-- Button trigger modal -->
        

                    
  </div>
  </div>