<flare-messages></flare-messages>
<div class="panel panel-primary" >
	<div class="panel-heading">
		<h3 class="title"> {{'Profile' | translate }}</h3>
		<a  href="#/profile/edit/{{user.id}}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></a>
		<a  href="#/bill/add/{{user.id}}" class="btn btn-sm btn-success">{{'Add_bill' | translate }}</a>
		<div style="text-align:center" class="loading-spiner-holder" data-loading ><div class="loading-spiner"><img width="60" height="30" src="./img/spinner.gif" /></div></div>
	</div>
	<div class="panel-body">
	<div class="row">
                                
                                <div class="col-sm-12 col-md-9 col-lg-9 "> 
                                  <table class="table table-user-information table-responsive">
                                    <tbody>
                                      <tr>
                                        <td>{{'Name' | translate }}:</td>
                                        <td>{{user.nom}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Surname' | translate }}:</td>
                                        <td>{{user.prenom}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Address' | translate }}:</td>
                                        <td>{{user.adresse}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Identifier' | translate }}:</td>
                                        <td>{{user.cni}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Email' | translate }}:</td>
                                        <td>{{user.email}}</td>
                                      </tr>
                                        <tr>
                                        <td>{{'Phone_number' | translate }}:</td>
                                        <td>{{user.telephone}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Role' | translate }}:</td>
                                        <td>{{user.poste.libelle}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Office' | translate }}:</td>
                                        <td>{{user.antenne.libelle}}</td>
                                      </tr>
                                      <tr>
                                        <td>{{'Gender' | translate }}:</td>
                                        <td> {{ user.sexe }}


                                      </tr>
                                        
                                     
                                     </tbody>
                                    </table>
                  
                                      
                                  </div>
                                  <div class="col-md-3 col-lg-3 "  align="center"> 

                                	<img ng-show="{{user.image == undefined}}" src="./apprest/web/uploads/{{user.image.nom}}"  class="img-circle img-responsive" />
                                	<img ng-show="{{user.image != undefined}}" src="./apprest/web/img/avatarm.png"  class="img-circle img-responsive" />
                                	<a  href="#/user/bill/{{user.id}}" class="btn btn-sm btn-success">{{'Bills' | translate }}</a>
                                	<a  href="#/user/presence/{{user.id}}" class="btn btn-sm btn-warning">{{'Presence' | translate }}</a>
                                
                                </div>
                                </div>
	</div>

</div>