<h3>Something Not Good has happened</h3>
<p>
The Product {{stock.article.nom}} from shop: {{stock.magasin.nom}} has riched stock alert.<br/>
Avaible stock is {{stock.quantite}}
</p>
<p>This is an automaticaly message!!!</p>

