
    <div class=" ">
    <ul class="list-group">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="dashboard-div-wrapper bk-clr-one">
               
                <a onmouseover="" style="cursor: pointer;" data-toggle="collapse" data-target="#shop" aria-expanded="false" aria-controls="collapseExample">
                 <i  class="glyphicon glyphicon-blackboard dashboard-div-icon" ></i><i  class=" title">Shop</i>
                </a>
                <div class="collapse" id="shop">
                   <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#/apprest/web/app_dev.php/rest/article/list">Articles</a>
                            </li>
                            
                            <li><a  href="#/apprest/web/app_dev.php/rest/antenne/list">Shop Manager</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="dashboard-div-wrapper bk-clr-two">
               
                <a onmouseover="" style="cursor: pointer;" data-toggle="collapse" data-target="#project" aria-expanded="false" aria-controls="collapseExample">
                 <i  class="glyphicon glyphicon-list-alt dashboard-div-icon" ></i><i  class=" title">Project</i>
                </a>
                <div class="collapse" id="project">
                   <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#/apprest/web/app_dev.php/rest/project/">Ongoing Projects</a>
                            </li>
                            <li><a href="#apprest/web/app_dev.php/rest/project/archive/">Archive</a>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="dashboard-div-wrapper bk-clr-three">
               
                <a onmouseover="" style="cursor: pointer;" data-toggle="collapse" data-target="#staff" aria-expanded="false" aria-controls="collapseExample">
                 <i  class="glyphicon glyphicon-user dashboard-div-icon" ></i><i  class=" title">Staff</i>
                </a>
                <div class="collapse" id="staff">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#/apprest/web/app_dev.php/rest/users">Staff Members</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            
            </div>
            </div>
        </ul>

    </div>
